.app-container {display:flex; min-height: 100vh;}

.sidebar {
  width: 200px;
  background: #f4f4f4;
  /* background: #333; */
  padding : 1rem;
}

.sidebar ul { list-style: none; padding: 0;}
.sidebar li {margin: 0.5rem 0;}
.main-content {flex-grow: 1;}

:root{
  --bg-color: #ffffff;
  --text-color: #000000;
  --header-bg: #282c34;
}

.dark{
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --header-bg: #20232a;
}

body{
  margin: 0;
  background-color: var(--header-bg);
  color: var(--text-color);
  font-family: sans-serif;
}

.app-header{
  background: var(--bg-color);
  padding: 2rem;
  color: white;
}

.app-main {
  padding: 2rem;
}

.app-footer {
  margin-top: 2rem;
  font-size: 0.8rem;
}